@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.btn {
    background-color: #e52f37;
    padding: 14px 20px;
    border: 1px solid #e52f37;
    border-radius: 23px;
    color: #fff;
    font-size: 1.6rem;
}

.text-center {
    text-align: center;
}


.m-auto {
    margin: 0 auto;
}

.m-bottom-20 {
    margin-bottom: 20px;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.div-title {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 600;
    color: #071e55;
    margin-bottom: 20px;
}

.div-subtitle {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 60px;
    opacity: 0.6;
    text-align: center;
    line-height: 1.2;
    color: #7c8595;
}

.p-110 {
    padding: 110px 0;
}

.bg-white {
    background-color: #fff;
}

.bg-grey {
    background-color: #f1faff;
}

.bg-red {
    background-color: #de3038;
}

.white-text {
    color: #fff;
    opacity: 1;
}

.overlay__red {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(221, 49, 58, 0.95);
}

.z-1 {
    z-index: 1;
}

.hide {
    display: none!important;
}

.apperance {
    /* display: block!important; */
    opacity: 1!important;
    pointer-events: visible;
    transform: translateY(0);
}

.apperance-flex {
    display: flex!important;
}




