/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {

    .header__nav {
        display: none;
    }

    .header__nav-tablet {
        display: flex;
        align-items: center;
    }

    .partners {
        .container {
            max-width: 960px;
        }
    }

    #home {
        .home__hero {
            .home__hero-title {
                font-size: 3.8rem;
            }
            .home__hero-text {
                font-size: 1.8rem;
            }

            &-video {
                .video__modal {
                    padding: 0 12px;
                    iframe {
                        margin-top: 135px;
                    }

                    .close {
                        display: block;
                        top: 37%;
                    }
                }
            }
        }
        .home__register {
            margin-left: 8.33%;

            h3 {
                line-height: 1.2;
            }

            .btn-register {
                padding: 0;
            }
        }
    }

    #about {
        .container {
            .about__service {
                width: 100%;
            }
        }
    }

    #testimonials {
        .card__info-name {
            line-height: 1.2;
        }
    }

    #pricing {
        .pricing-tag {
            .pricing-btn {
                padding: 20px 14px;
            }
        }
    }
}

/* Mobile */
@media (max-width: 767px) {

    .header__nav {
        display: none;

        &-mobile {
            display: flex;
        align-items: center;
        }
    }

    .header__menu {
        .header__menu-list {
            width: 100%;
        }
    }


    #home {
        padding-top: 0;

        .container {
            max-width: 620px;
            top: 0;
        }

        .home__hero {
            width: 100%;

            &-video {
                .video__modal {
                    padding: 0 12px;
                    iframe {
                        width: 500px;
                        height: 200px;
                        margin-top: 40px;
                    }

                    .close {
                        display: block;
                        top: 32%;
                    }
                }
            }
        }

        .home__register {
            width: 100%;
            margin-left: 0;
        }
    }

    .partners {
        .container {
            max-width: 420px;
        }
    }

    #about {
        .container {
            .about__service {
                width: 100%;
            }
        }
    }

    .discover {
        flex-direction: column;

        &__img {
            width: 80%;
            margin-bottom: 50px;
        }

        &__text {
            width: 80%;
        }
    }

    .strength {
        flex-direction: column;

        .strength__box {
            padding: 0 20px;
            margin-bottom: 50px;
        }
    }

    .achievement {
        padding: 110px 15px;

        &__list {
            display: block;
        }

        h2 {
            text-align: center;
        }
    }

    #testimonials, #work, #team, #pricing, .question, .contact {
        padding: 110px 15px;
    }

    #testimonials {
        .card__info-name {
            line-height: 1.2;
        }
    }

}