.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  height: 100px;
  padding: 20px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.header__nav {
  width: 100%;
  color: #e52f37;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-title {
  display: inline-block;
  text-decoration: none;
  color: #e52f37;
  width: 25%;
  font-family: "Nunito", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: inherit;
}
.header__nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
.header__nav-item-link {
  text-decoration: none;
  font-size: 1.7rem;
  color: #071e55;
  padding: 10px 15px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  transition: all 0.5s ease;
}
.header__nav-item-link:hover {
  color: #e52f37;
}
.header__nav-item-btn {
  display: block;
  width: 125px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.5s ease;
}
.header__nav-item-btn:hover {
  background-color: #fff;
  border: 1px solid #e52f37;
  color: #e52f37;
}
.header__nav-tablet {
  width: 70%;
  justify-content: space-between;
  display: none;
}
.header__nav-tablet iconify-icon {
  height: 40px;
  font-size: 2.4rem;
  color: #e52f37;
  border: 1px solid #e52f37;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.header__nav-tablet iconify-icon:focus {
  border: 2px solid #000;
}
.header__nav-mobile {
  width: 100%;
  justify-content: space-between;
  display: none;
  flex-wrap: wrap;
}
.header__nav-mobile iconify-icon {
  height: 40px;
  font-size: 2.4rem;
  color: #e52f37;
  border: 1px solid #e52f37;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.header__nav-mobile iconify-icon:focus {
  border: 2px solid #000;
}
.header__menu {
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: #fff;
  padding: 0 25px 20px 25px;
  transition: all 0.25s ease-in;
  opacity: 0;
  pointer-events: none;
}
.header__menu .header__menu-list {
  list-style: none;
  font-size: 1.7rem;
  line-height: 1.2;
  width: 70%;
  margin: 0 auto;
}
.header__menu .header__menu-list .header__menu-item {
  padding: 6px 15px;
}
.header__menu .header__menu-list .header__menu-item-link {
  text-decoration: none;
  color: #071e55;
  transition: all 0.2s ease-in;
}
.header__menu .header__menu-list .header__menu-item-link:hover {
  color: #e52f37;
}
.header__menu .header__menu-list .header__menu-item-btn {
  padding: 10px 12px;
  text-decoration: none;
}

.active {
  color: #e52f37;
  transition: color 0.5s ease;
}

#home {
  padding-top: 80px;
  padding-bottom: 110px;
  background: url("../img/slider.jpg") top center/cover no-repeat;
  position: relative;
}
#home .home__overlay {
  position: absolute;
  opacity: 0.39;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#home .home__box {
  position: relative;
  z-index: 1;
  padding: 0 15px;
}
#home .home__hero {
  color: #fff;
  padding-top: 100px;
  padding-left: 22px;
}
#home .home__hero-title {
  font-size: 4.3rem;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
  text-shadow: 1px 1px #373737;
  letter-spacing: 1px;
}
#home .home__hero-text {
  margin-bottom: 35px;
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 300;
  text-shadow: 1px 1px #373737;
}
#home .home__hero-video {
  display: flex;
}
#home .home__hero-video-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
#home .home__hero-video-link::before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 100%;
  z-index: 0;
  cursor: pointer;
  animation: doublePulsation 1.9s ease infinite;
}
#home .home__hero-video-link:hover {
  background-color: transparent;
}
#home .home__hero-video-link:hover .home__hero-icon {
  color: #fff;
}
#home .home__hero-video-text {
  padding-left: 20px;
  font-size: 1.8rem;
  color: #fff;
  line-height: 3;
}
#home .home__hero-video .video__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  overflow-y: hidden;
}
#home .home__hero-video .video__modal .close {
  position: absolute;
  margin-top: 3px;
  right: 12px;
  font-size: 20px;
  cursor: pointer;
  color: #afafaf;
  display: none;
}
#home .home__hero-video .video__modal iframe {
  width: 900px;
  height: 500px;
  transform: scale(0);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.3s;
}
#home .home__hero-video .video__modal.show {
  pointer-events: all;
  opacity: 1;
}
#home .home__hero-video .video__modal.show iframe {
  transform: scale(1);
}
#home .home__hero-icon {
  color: #e52a3d;
  font-size: 5rem;
  transition: all 0.4s ease-in-out;
}
#home .home__register {
  margin-top: 20px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  animation: register 1s ease-in 0.5s;
  color: #555;
}
#home .home__register h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}
#home .home__register p {
  font-size: 1.6rem;
  opacity: 0.6;
  margin-bottom: 30px;
}
#home .home__register input, #home .home__register select {
  width: 100%;
  font-size: 1.6rem;
  height: 52px;
  margin-bottom: 15px;
  border: 1px solid #f1f1f1;
  background-color: #f9f9f9;
  border-radius: 5px 5px 5px 5px;
  padding-left: 11%;
  padding-right: 5%;
}
#home .home__register input:focus, #home .home__register select:focus {
  outline: 1px solid #000;
}
#home .home__register input[type=submit] {
  background-color: #e52f37;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
#home .home__register input[type=submit]:hover {
  background-color: #27b36a;
  transition: all 0.5s ease-in-out;
}
#home .home__register .name-input {
  background: url(../img/input-user.png) no-repeat 12px 15px;
}
#home .home__register .email-input {
  background: url(../img/input-envelope.png) no-repeat 12px 15px;
}
#home .home__register .white-input {
  background: url(../img/input-select.png) no-repeat 12px 15px;
}

.partners {
  width: 100%;
  padding: 40px 0 20px 0;
  display: flex;
}
.partners .partners__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.partners .partners__box h5 {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 4;
  font-weight: 600;
  margin-left: 20px;
}
.partners .partners__box img {
  opacity: 0.4;
  max-height: 55px;
  transition: all 0.25s ease-in-out;
  margin: 10px 15px;
}
.partners .partners__box img:hover {
  opacity: 1;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about .about-title {
  margin-bottom: 30px;
  font-size: 3.8rem;
  font-weight: 600;
}
#about .about-subtitle {
  font-size: 1.8rem;
  line-height: 2.8;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 40px;
}
#about .about__service {
  text-align: center;
  transition: all 1s;
  margin: 10px 5px;
}
#about .about__service iconify-icon {
  font-size: 4rem;
  padding: 16px;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 15px;
}
#about .about__service .icon-chart {
  background-color: #1e90ff;
}
#about .about__service .icon-heart {
  background-color: #e52f37;
}
#about .about__service .icon-anchor {
  background-color: #27b36a;
}
#about .about__service h4 {
  font-size: 2rem;
  line-height: 1.2;
  color: #071e55;
  font-weight: 700;
  margin-bottom: 20px;
}
#about .about__service p {
  font-size: 2rem;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  padding: 0 10px;
  margin-bottom: 15px;
}
#about .about__service:hover {
  transform: scale(1.025);
}

.discover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.discover__img {
  padding: 0 15px;
  width: 40%;
}
.discover__img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}
.discover__text {
  width: 40%;
  padding: 0 15px;
}
.discover__text h3 {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #071e55;
  font-weight: 700;
}
.discover__text p {
  font-size: 1.7rem;
  line-height: 1.8;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
}
.discover__text .benefits {
  list-style: none;
  margin-bottom: 40px;
}
.discover__text .benefits li {
  display: flex;
}
.discover__text .benefits li p {
  padding-top: 5px;
  margin-bottom: 0;
}
.discover__text .benefits li iconify-icon {
  font-size: 4rem;
  color: #e52a3d;
  font-weight: 900;
}
.discover__text .discover__btn {
  text-decoration: none;
  padding: 14px 20px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.27);
  transition: all 0.4s ease-in-out;
}
.discover__text .discover__btn:hover {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.strength {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.strength .strength__box {
  padding-right: 50px;
}
.strength .strength__box .strength__info {
  margin-bottom: 10px;
  padding: 8px 16px;
  border: 1px solid #f4f5f6;
  transition: all 1s;
}
.strength .strength__box .strength__info .strength__icon {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fcfcfc;
  border: 1px solid #eaeaea;
  text-align: center;
  line-height: 2;
  position: relative;
  border-radius: 50%;
  margin: 15px 25px 5px 0;
  transition: all 0.5s ease-in-out;
}
.strength .strength__box .strength__info .strength__icon iconify-icon {
  font-size: 4rem;
}
.strength .strength__box .strength__info .strength__icon .icon-chartline {
  color: #2694ff;
}
.strength .strength__box .strength__info .strength__icon .icon-network {
  color: #e52f37;
}
.strength .strength__box .strength__info .strength__icon .icon-rocket {
  color: #27b36a;
}
.strength .strength__box .strength__info h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 2rem;
  line-height: 1.4;
  color: #071e55;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
.strength .strength__box .strength__info p {
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #7c8595;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
}
.strength .strength__box .strength__info:hover {
  background-color: #fff;
  cursor: pointer;
}
.strength .strength__img {
  padding: 0 15px;
  animation-name: fade;
  animation-duration: 1.5s;
}
.strength .strength__img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}

.achievement {
  background: url(../img/bg3.jpg) no-repeat top center/cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.achievement h2 {
  font-size: 3.8rem;
  line-height: 1.2;
  margin-bottom: 60px;
}
.achievement iconify-icon {
  font-size: 5rem;
}
.achievement span {
  display: block;
  margin: 10px 0;
  font-size: 3rem;
  line-height: 1.2;
}
.achievement p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2;
}

#testimonials h2 {
  font-size: 3.8rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 20px;
  color: #071e55;
}
#testimonials .testimonials-text {
  font-size: 1.7rem;
  font-weight: 400;
  opacity: 0.4;
  line-height: 1.4;
  margin-bottom: 20px;
}
#testimonials h4 {
  font-size: 2rem;
  margin-bottom: 20px;
}
#testimonials .testimonials__rating {
  font-size: 2.2rem;
  color: #fdcc28;
}
#testimonials .first {
  display: block;
  border-right: 1px solid #cecece;
  margin-bottom: 40px;
}
#testimonials .card {
  margin: 20px 0;
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #27b36a;
  cursor: pointer;
}
#testimonials .card-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.6;
  padding: 20px 25px 5px 25px;
  font-style: italic;
}
#testimonials .card__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 15px 25px;
}
#testimonials .card__info-btn {
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
}
#testimonials .card__info-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#testimonials .card__info p {
  font-size: 1.8rem;
  font-weight: 600;
}
#testimonials .card__info p span {
  color: #4ab97d;
}

#work .work-title {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 600;
  color: #071e55;
  margin-bottom: 20px;
}
#work .work-subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 60px;
  opacity: 0.6;
}
#work .work__gallery {
  position: relative;
  transition: all 0.25s ease-in-out;
}
#work .work__gallery iconify-icon {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
}
#work .work__gallery .work__gallery-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.25s ease-in-out;
}
#work .work__gallery:hover {
  cursor: pointer;
}
#work .work__gallery:hover iconify-icon {
  opacity: 1;
  z-index: 2;
}
#work .work__gallery:hover img {
  opacity: 0.4;
}
#work .work__gallery:hover:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #e52f37;
  opacity: 0.8;
  z-index: 1;
}
#work .work__modal {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  cursor: zoom-out;
  display: none;
}
#work .work__modal .work__modal-img {
  margin-bottom: 185px;
  cursor: pointer;
}
#work .work__modal .work__modal-img img {
  max-height: 714px;
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#work .work__modal .work__modal-img .work__modal-btn {
  font-size: 2rem;
  font-weight: 900;
  color: #b6b6b6;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: right;
}
#work .work__modal .work__modal-img .work__modal-btn:hover {
  color: #fff;
}
#work .work__modal .work__modal-img p {
  color: #797775;
  font-size: 1.4rem;
  margin-top: 10px;
  text-align: right;
}
#work .work__modal .btn-icon {
  font-size: 7rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #b8b9b9;
  margin-bottom: 185px;
}
#work .work__modal .btn-icon:hover {
  color: #fff;
}

#team .team-title {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 600;
  color: #071e55;
  margin-bottom: 20px;
}
#team .team-subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 60px;
  opacity: 0.6;
}
#team .card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 40px;
}
#team .card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}
#team .card h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}
#team .card-position {
  font-size: 1.6rem;
  color: #c2c2bf;
  margin-bottom: 20px;
  font-style: italic;
}
#team .card__border {
  margin: 0 auto;
  width: 50px;
  height: 3px;
  background-color: #e52f37;
  margin-bottom: 20px;
}
#team .card-text {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #a29ca4;
  padding: 0 25px;
  margin-bottom: 20px;
  font-weight: 400;
}

#feature .feature__box {
  display: flex;
  padding: 15px;
  margin-bottom: 30px;
}
#feature .feature__box iconify-icon {
  font-size: 5rem;
}
#feature .feature__box-text {
  margin-left: 20px;
}
#feature .feature__box-text h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #092760;
  margin-bottom: 20px;
}
#feature .feature__box-text p {
  font-size: 1.8rem;
  color: #8a93a6;
  line-height: 1.2;
}

.agency {
  background: url(../img/bg3.jpg) no-repeat top center/cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}
.agency h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 20px;
}
.agency p {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 40px;
  font-weight: 400;
}
.agency a {
  text-decoration: none;
}
.agency .btn-white {
  padding: 15px 20px;
  background-color: #fff;
  color: #e52f37;
  margin-right: 20px;
  box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
  transition: all 0.4s ease-in-out;
}
.agency .btn-white:hover {
  background: #f9f9f9;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.agency .btn-white-border {
  padding: 15px 20px;
  border: 1px solid #fff;
  box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
  transition: all 0.4s ease-in-out;
}
.agency .btn-white-border:hover {
  background-color: #fff;
  color: #e52f37;
}

#pricing h3 {
  font-size: 3rem;
  color: #071e55;
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: 600;
}
#pricing p {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
}
#pricing .pricing-list-white, #pricing .pricing-list-red {
  width: 84%;
  height: 100%;
  list-style: none;
  border: 1px solid #dde9fb;
  box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.05);
  padding: 50px 20px;
  margin: 20px 0 20px 20px;
  border-radius: 8px;
  animation: register 1s ease-in 0.5s;
  transition: all 0.3s ease-in-out;
}
#pricing .pricing-list-white:hover, #pricing .pricing-list-red:hover {
  cursor: pointer;
  transform: scale(1.02);
}
#pricing .pricing-title {
  font-size: 1.8rem;
  list-style: 1.2;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#pricing .pricing-price {
  font-size: 6rem;
  line-height: 1.2;
  margin-bottom: 10px;
}
#pricing .pricing-subtitle {
  color: #6a6a6a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}
#pricing .pricing-tag {
  margin: 60px 0;
}
#pricing .pricing-tag a {
  text-decoration: none;
  color: #e52f37;
  font-size: 1.4rem;
  line-height: 1.2;
  transition: all 0.25s ease-in-out;
  font-weight: 600;
}
#pricing .pricing-tag a:hover {
  color: #fff;
}
#pricing .pricing-tag .pricing-btn {
  padding: 20px 30px;
}
#pricing .pricing-tag .pricing-btn:hover {
  background-color: #e52f37;
  border: 1px solid #fff;
  color: #fff;
}
#pricing .pricing-text {
  color: #6a6a6a;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 10px;
}
#pricing .pricing-list-white {
  height: 92%;
}
#pricing .pricing-list-red .pricing-subtitle, #pricing .pricing-list-red .pricing-text {
  color: #fff;
}

.question__box h5 {
  font-size: 2rem;
  color: #071e55;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 600;
}
.question__box p {
  font-size: 2rem;
  color: #7c8595;
  line-height: 1.2;
  margin-bottom: 40px;
  font-weight: 400;
}

.contact {
  background: url(../img/bg3.jpg) no-repeat top center/cover;
  background-attachment: fixed;
  position: relative;
}
.contact .contact-form {
  text-align: center;
}
.contact .contact-form input, .contact .contact-form select, .contact .contact-form textarea {
  color: #fff;
  width: 100%;
  height: 56px;
  border: 1px solid #fff;
  margin-top: 15px;
  background-color: transparent;
  padding: 0 2%;
  font-size: 1.6rem;
  border-radius: 8px;
}
.contact .contact-form input:focus {
  outline: none;
}
.contact .contact-form ::placeholder {
  color: #fff;
}
.contact .contact-form textarea {
  height: 145px;
  padding-top: 10px;
}
.contact .contact-form textarea:focus {
  outline: none;
}
.contact .contact-form input[type=submit] {
  width: 40%;
  background-color: #fff;
  color: #e63b37;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
}
.contact .contact-form input[type=submit]:hover {
  background-color: #eaeaea;
  cursor: pointer;
}
.contact .contact-form select:focus {
  color: #000;
}

.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 1.8rem;
}
.footer p span {
  color: #454545;
  font-weight: 700;
}
.footer p a {
  color: #e52f37;
}
.footer .footer-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.footer .footer-list .footer-item-text {
  color: #858585;
}
.footer .footer-list li a {
  font-size: 3rem;
}

@keyframes register {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes doublePulsation {
  0% {
    width: 60px;
    height: 60px;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
